<div class="form-group">
  <label for="name">Store Name</label>
  <input
    required
    value="<%= store.name %>"
    type="text"
    name="store_name"
    id="store_name"
    class="form-control"
  />
</div>
<div class="form-group">
  <label for="url">URL</label>
  <input
    required
    value="<%= store.url %>"
    type="text"
    name="url"
    id="url"
    class="form-control"
  />
</div>
<div class="form-group">
  <label for="access_token">Access token</label>
  <input
    required
    value="<%= store.access_token %>"
    type="text"
    name="access_token"
    id="access_token"
    class="form-control"
  />
</div>
<div class="form-group">
  <label for="storeId"
    >Store ID (used to access store in this application)</label
  >
  <input
    required
    value="<%= store.storeId %>"
    type="text"
    name="storeId"
    id="storeId"
    class="form-control"
  />
</div>
<div class="form-group">
  <label for="address">Address</label>
  <input
    type="text"
    name="address"
    id="address"
    class="form-control"
  /><%=store.address %>
</div>
<a href="/shopify_api/stores" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
