<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <title>Show Product</title>
  </head>
  <body>
    <div class="container">
      <a
        href="/shopify_api/stores/<%= store.storeId %>/products"
        class="btn btn-secondary"
        >Back</a
      >
      <h1 class="mb-4">Product Name: <%= product.title%></h1>
    </div>
    <div class="container">
      <h2>Type: <%=product.product_type%></h2>
      <h2>created_at: <%=product.created_at.toLocaleDateString()%></h2>
      <h2>Status: <%=product.status%></h2>
      <!-- variants: product.variants,
      options: product.options, -->
      <%if (product.image){%>
      <img src="<%=product.image.src%>" class="img-thumbnail" />
      <% } %> <%if (product.images){%>
      <picture>
        <%product.images.forEach(image =>{%>
        <img src="<%=image.src%>" class="img-thumbnail" />
        <% })%>
      </picture>
      <% } %> <% if(!product.image && !product.images){ %>
      <h3>No images found</h3>
      <% } %>

      <!-- <a href="/shopify_api/stores" class="btn btn-secondary">All stores</a>
      <a
        href="/shopify_api/stores/edit/<%= store.storeId %>"
        class="btn btn-info"
        >Edit</a
      >
      <a
        href="../stores/<%= store.storeId %>/products"
        class="btn btn-secondary"
        >View Products</a
      > -->
    </div>
  </body>
</html>
